{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets2 %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
        
<section class="background">
    <article class="form__container">
        <h3 class="form__header">Login</h3>
            <form method="post" class="form">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
                <div class="input_group">
                    <label class="form__label" for="inputUsername">Username</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form__input form-control" autocomplete="username" placeholder="Name"required autofocus>
                </div>
                <div class="input_group">
                    <label class="form__label" for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form__input form-control" autocomplete="current-password" placeholder="*****" required>
                </div>
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
                <nav class="profile__nav" style="display:flex; flex-direction:column">
                    
                    <button class="form__button btn btn-lg btn-primary" type="submit">
                        Войти
                    </button>
                    <a href="/register" style="width: 100%; margin-top: 1em">Зарегистрироваться</a>
                </nav>
                
            </form>
        </article>
    <svg style="pointer-events: none;position:absolute; bottom: 0" class="wave" width="100%" height="50px" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75"><defs><style>.a{fill:none}.b{clip-path:url(#a)}.c,.d {fill: hsla(254, 20%, 95%, 1)}.d{opacity:0.5;isolation:isolate;}</style><clipPath id="a"><rect class="a" width="1920" height="75"></rect></clipPath></defs><g class="b"><path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path></g><g class="b"><path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path></g><g class="b"><path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path></g><g class="b"><path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path></g></svg>
</section>
{% endblock %}
