{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}

<div id="mTzP_" style="width:100%;height:100%;" class="z-page">
	<table id="mTzP0" class="z-vbox" style="height: 100px; width: 1473px;" cellspacing="0" cellpadding="0" border="0">
		<tbody>
			<tr valign="middle">
				<td id="mTzP0-frame" style="" align="center">
					<table id="mTzP0-real" style="text-align:left" cellspacing="0" cellpadding="0" border="0">
						<tbody>
							<tr id="mTzPb-chdex" valign="top">
								<td style="min-width: 1px;" align="center"></td>
							</tr>
							<tr id="mTzPb-chdex2" class="z-vbox-separator">
								<td><img style="height:0;width:0"></td>
							</tr>
							<tr id="mTzPc-chdex" style="height: 100px; width: 1473px;" valign="top">
								<td style="min-width: 1px;" align="center">
									<table id="mTzPc" class="z-vbox" style="height: 100px; width: 1473px;"
										cellspacing="0" cellpadding="0" border="0">
										<tbody>
											<tr valign="top">
												<td id="mTzPc-frame" style="" align="left">
													<table id="mTzPc-real" style="text-align:left" cellspacing="0"
														cellpadding="0" border="0">
														<tbody>
															<tr id="mTzPd-chdex" style="width: 1473px;" valign="top">
																<td style="min-width: 1px;" align="left">
																	<table id="mTzPd"
																		style="height: 60px; width: 1473px;"
																		class="ar-background z-hbox" cellspacing="0"
																		cellpadding="0" border="0">
																		<tbody>
																			<tr valign="top">
																				<td id="mTzPd-frame"
																					style="height: 100%;" align="left">
																					<table id="mTzPd-real"
																						style="text-align:left"
																						height="100%" cellspacing="0"
																						cellpadding="0" border="0">
																						<tbody>
																							<tr valign="top">
																								<td id="mTzPe-chdex"
																									style="min-width: 1px; width: 60px;">
																									<table id="mTzPe"
																										class="z-hbox"
																										style="width: 60px;"
																										cellspacing="0"
																										cellpadding="0"
																										border="0">
																										<tbody>
																											<tr
																												valign="top">
																												<td id="mTzPe-frame"
																													style="height: 100%;"
																													align="left">
																													<table
																														id="mTzPe-real"
																														style="text-align:left"
																														height="100%"
																														cellspacing="0"
																														cellpadding="0"
																														border="0">
																														<tbody>
																															<tr
																																valign="top">
																															</tr>
																														</tbody>
																													</table>
																												</td>
																											</tr>
																										</tbody>
																									</table>
																								</td>
																								<td id="mTzPe-chdex2"
																									class="z-hbox-separator">
																									<img
																										style="height:0;width:0">
																								</td>
																								<td id="mTzPf-chdex"
																									style="height: 60px; min-width: 1px;">
																									<table id="mTzPf"
																										style="width: 1250px; height: 60px;"
																										class="z-hbox"
																										cellspacing="0"
																										cellpadding="0"
																										border="0">
																										<tbody>
																											<tr
																												valign="middle">
																												<td id="mTzPf-frame"
																													style="width: 100%;"
																													align="left">
																													<table
																														id="mTzPf-real"
																														style="text-align:left"
																														height="100%"
																														cellspacing="0"
																														cellpadding="0"
																														border="0">
																														<tbody>
																															<tr
																																valign="middle">
																																<td id="mTzPg-chdex"
																																	style="min-width: 1px; width: 625px;">
																																	<table
																																		id="mTzPg"
																																		class="z-hbox"
																																		style="width: 625px;"
																																		cellspacing="0"
																																		cellpadding="0"
																																		border="0">
																																		<tbody>
																																			<tr
																																				valign="middle">
																																				<td id="mTzPg-frame"
																																					style="height: 100%;"
																																					align="left">
																																					<table
																																						id="mTzPg-real"
																																						style="text-align:left"
																																						height="100%"
																																						cellspacing="0"
																																						cellpadding="0"
																																						border="0">
																																						<tbody>
																																							<tr
																																								valign="middle">
																																								<td id="mTzPh-chdex"
																																									style="height:100%">
																																									<img id="mTzPh"
																																										style="width:75px;;"
																																										class="ar-img-logo-page z-image"
																																										src="{{ asset('editor_assets/logo.png') }}">
																																								</td>
																																								<td id="mTzPh-chdex2"
																																									class="z-hbox-separator">
																																									<img
																																										style="height:0;width:0">
																																								</td>
																																								<td id="mTzPi-chdex"
																																									style="height:100%">
																																									<div id="mTzPi"
																																										class="z-separator z-separator-vertical">
																																										&nbsp;
																																									</div>
																																								</td>
																																								<td id="mTzPi-chdex2"
																																									class="z-hbox-separator">
																																									<img
																																										style="height:0;width:0">
																																								</td>
																																								<td id="mTzPj-chdex"
																																									style="height:100%" >
																																									
																																									<span
																																										id="mTzPj"
																																										class="ar-portal-name z-label">
																																										<front style="font-family: 'Segoe UI'; font-size: 40px;">
																																											Alig
																																										</front></span>
																																									
																																								</td>
																																							</tr>
																																						</tbody>
																																					</table>
																																				</td>
																																			</tr>
																																		</tbody>
																																	</table>
																																</td>
																																<td id="mTzPg-chdex2"
																																	class="z-hbox-separator">
																																	<img
																																		style="height:0;width:0">
																																</td>
																																<td id="mTzPk-chdex"
																																	style="min-width: 1px; width: 625px;">
																																	<table
																																		id="mTzPk"
																																		class="z-hbox"
																																		style="width: 625px;"
																																		cellspacing="0"
																																		cellpadding="0"
																																		border="0">
																																		<tbody>
																																			<tr
																																				valign="middle">
																																				<td id="mTzPk-frame"
																																					style="height: 100%;"
																																					align="right">
																																					<table
																																						id="mTzPk-real"
																																						style="text-align:left"
																																						height="100%"
																																						cellspacing="0"
																																						cellpadding="0"
																																						border="0">
																																						<tbody>
																																							<tr
																																								valign="middle">
																																								<td id="mTzPl-chdex2"
																																									class="z-hbox-separator">
																																									<img
																																										style="height:0;width:0">
																																								</td>
																																								<td id="mTzPm-chdex"
																																									style="height: 100%; min-width: 1px;">
																																									<div id="mTzPm"
																																										class="z-separator z-separator-vertical">
																																										&nbsp;
																																									</div>
																																								</td>
																																								<td id="mTzPm-chdex2"
																																									class="z-hbox-separator">
																																									<img
																																										style="height:0;width:0">
																																								</td>
																																								<td id="mTzPn-chdex2"
																																									class="z-hbox-separator">
																																									<img
																																										style="height:0;width:0">
																																								</td>
																																								<td id="mTzPo-chdex"
																																									style="height: 100%; min-width: 1px;">
																																									<div id="mTzPo"
																																										class="z-separator z-separator-vertical">
																																										&nbsp;
																																									</div>
																																								</td>
																																								<td id="mTzPo-chdex2"
																																									class="z-hbox-separator">
																																									<img
																																										style="height:0;width:0">
																																								</td>
																																								<td id="mTzPp-chdex"
																																									style="height: 48px; min-width: 1px;">
																																									<div id="mTzPp" class="z-menubar z-menubar-horizontal" style="height: 48px;">
																																										<ul id="mTzPp-cave">
																																											<li id="mTzPq" class="z-menu">
																																												<a href="javascript:;" id="mTzPq-a" class="z-menu-content"><img id="mTzPq-img" src="{{ asset('editor_assets/profile.jpg') }}" class="z-menu-image" align="absmiddle" width="50px"><span class="z-menu-text">qwertyui</span>
																																													<div class="z-menu-separator">
																																													</div>
																																													<i class="z-menu-icon z-icon-caret-down"></i>
																																												</a>
																																											</li>
																																										</ul>
																																									</div>
																																								</td>
																																							</tr>
																																						</tbody>
																																					</table>
																																				</td>
																																			</tr>
																																		</tbody>
																																	</table>
																																</td>
																															</tr>
																														</tbody>
																													</table>
																												</td>
																											</tr>
																										</tbody>
																									</table>
																								</td>
																								<td id="mTzPf-chdex2"
																									class="z-hbox-separator">
																									<img
																										style="height:0;width:0">
																								</td>
																								<td id="mTzPx-chdex"
																									style="min-width: 1px; width: 112px;">
																									<table id="mTzPx"
																										class="z-hbox"
																										style="width: 112px;"
																										cellspacing="0"
																										cellpadding="0"
																										border="0">
																										<tbody>
																											<tr
																												valign="top">
																												<td id="mTzPx-frame"
																													style="height: 100%;"
																													align="left">
																													<table
																														id="mTzPx-real"
																														style="text-align:left"
																														height="100%"
																														cellspacing="0"
																														cellpadding="0"
																														border="0">
																														<tbody>
																															<tr
																																valign="top">
																															</tr>
																														</tbody>
																													</table>
																												</td>
																											</tr>
																										</tbody>
																									</table>
																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
															<tr id="mTzPd-chdex2" class="z-vbox-separator">
																<td><img style="height:0;width:0"></td>
															</tr>
															<tr id="mTzP20-chdex" style="height: 40px; width: 1473px;"
																valign="top">
																<td style="min-width: 1px;" align="left">
																	<table id="mTzP20"
																		style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; height: 40px; width: 1473px;"
																		class="z-hbox" cellspacing="0" cellpadding="0"
																		border="0">
																		<tbody>
																			<tr valign="top">
																				<td id="mTzP20-frame" style=""
																					align="left">
																					<table id="mTzP20-real"
																						style="text-align:left"
																						height="100%" cellspacing="0"
																						cellpadding="0" border="0">
																						<tbody>
																							<tr valign="top">
																								<td id="mTzP30-chdex"
																									style="min-width: 1px; width: 60px;">
																									<table id="mTzP30"
																										class="z-hbox"
																										style="width: 60px;"
																										cellspacing="0"
																										cellpadding="0"
																										border="0">
																										<tbody>
																											<tr
																												valign="top">
																												<td id="mTzP30-frame"
																													style="height: 100%;"
																													align="left">
																													<table
																														id="mTzP30-real"
																														style="text-align:left"
																														height="100%"
																														cellspacing="0"
																														cellpadding="0"
																														border="0">
																														<tbody>
																															<tr
																																valign="top">
																															</tr>
																														</tbody>
																													</table>
																												</td>
																											</tr>
																										</tbody>
																									</table>
																								</td>
																								<td id="mTzP40-chdex"
																									style="min-width: 1px; height: 40px;">
																									<table id="mTzP40"
																										style="width: 1250px; height: 40px;"
																										class="z-hbox"
																										cellspacing="0"
																										cellpadding="0"
																										border="0">
																										<tbody>
																											<tr
																												valign="top">
																												<td id="mTzP40-frame"
																													style="width: 100%;"
																													align="left">
																													<table
																														id="mTzP40-real"
																														style="text-align:left"
																														height="100%"
																														cellspacing="0"
																														cellpadding="0"
																														border="0">
																														<tbody>
																															<tr
																																valign="top">
																																<td id="mTzP50-chdex2"
																																	class="z-hbox-separator">
																																	<img
																																		style="height:0;width:0">
																																</td>
																																<td id="mTzP52-chdex"
																																	style="min-width: 1px; height: 40px; width: 1000px;">
																																	<table
																																		id="mTzP52"
																																		class="z-vbox"
																																		style="height: 40px; width: 1000px;"
																																		cellspacing="0"
																																		cellpadding="0"
																																		border="0">
																																		<tbody>
																																			<tr
																																				valign="top">
																																				<td id="mTzP52-frame"
																																					style=""
																																					align="left">
																																					<table
																																						id="mTzP52-real"
																																						style="text-align:left"
																																						cellspacing="0"
																																						cellpadding="0"
																																						border="0">
																																						<tbody>
																																							<tr id="mTzP62-chdex"
																																								style="height: 40px;"
																																								valign="top">
																																								<td style="min-width: 1px;"
																																									align="left">
																																									<div id="mTzP62"
																																										style="width: 1000px; height: 40px;"
																																										class="z-include">
																																										<div id="mTzP03"
																																											style="width:1000px;height:100%;"
																																											class="z-page">
																																											<table
																																												id="mTzPc2"
																																												class="ar-mainbox-page z-vbox"
																																												style="width: 1000px;"
																																												cellspacing="0"
																																												cellpadding="0"
																																												border="0">
																																												<tbody>
																																													<tr
																																														valign="top">
																																														<td id="mTzPc2-frame"
																																															style=""
																																															align="left">
																																															<table
																																																id="mTzPc2-real"
																																																style="text-align:left"
																																																cellspacing="0"
																																																cellpadding="0"
																																																border="0">
																																																<tbody>
																																																	<tr id="mTzPb2-chdex"
																																																		style="width: 1100px;"
																																																		valign="top">
																																																		<td style="min-width: 1px;"
																																																			align="left">
																																																			<div id="mTzPb2"
																																																				class="z-vlayout"
																																																				style="width: 1100px;">
																																																				<div id="mTzPt2-chdex"
																																																					class="z-vlayout-inner"
																																																					style="min-width: 1px; width: 1111px;">
																																																					<div id="mTzPt2"
																																																						class="z-hlayout"
																																																						style="width: 1100px;">
																																																						<div id="mTzPw2-chdex"
																																																							class="z-hlayout-inner"
																																																							style="min-width: 1px; width: 1111px;">
																																																							<div id="mTzPw2"
																																																								class="ar-scene-menu-tabbox z-tabbox z-tabbox-top"
																																																								style="width: 1111px;">
																																																								<div id="mTzPv2"
																																																									class="z-tabs"
																																																									style="width: 1111px;">
																																																									<ul id="mTzPv2-cave"
																																																										class="z-tabs-content">
																																																									</ul>
																																																								</div>
																																																								<div id="mTzPx2"
																																																									class="z-tabpanels">
																																																									<div id="mTzPh2"
																																																										class="z-tabpanel">
																																																										<div id="mTzPa2"
																																																											class="z-include"
																																																											style="height: 100%; width: 1111px;">
																																																											<div id="mTzPl7"
																																																												style="width:100%;height:100%;"
																																																												class="z-page">
																																																												<div id="mTzPj7"
																																																													class="z-vlayout"
																																																													style="height: 700px; width: 1111px;">
																																																													<div id="mTzPm7-chdex"
																																																														class="z-vlayout-inner"
																																																														style="padding-bottom: 5px; min-width: 1px; width: 1398px;">
																																																														<div id="mTzPm7"
																																																															class="z-vlayout"
																																																															style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-color: currentcolor rgb(227, 227, 227) rgb(227, 227, 227); border-style: none solid solid; border-width: 0px 1px 1px; border-image: none 100% / 1 / 0 stretch; width: 1398x;">
																																																															<div id="mTzPn7-chdex"
																																																																class="z-vlayout-inner"
																																																																style="padding-bottom: 5px; min-width: 1px; width: 1398px;">
																																																																<table
																																																																	id="mTzPn7"
																																																																	class="z-hbox"
																																																																	style="background: rgb(33,36,41) none repeat scroll 0% 0%; height: 50px; width: 1398px;"
																																																																	cellspacing="0"
																																																																	cellpadding="0"
																																																																	border="0">
																																																																	<tbody>
																																																																		<tr
																																																																			valign="top">
																																																																			<td id="mTzPn7-frame"
																																																																				style="height: 100%;"
																																																																				align="left">
																																																																				<table
																																																																					id="mTzPn7-real"
																																																																					style="text-align:left"
																																																																					height="100%"
																																																																					cellspacing="0"
																																																																					cellpadding="0"
																																																																					border="0">
																																																																					<tbody>
																																																																						<tr
																																																																							valign="top">
																																																																							<td id="mTzPo7-chdex"
																																																																								style="min-width: 1px;">
																																																																								<table
																																																																									id="mTzPo7"
																																																																									class="z-hbox"
																																																																									style=""
																																																																									cellspacing="0"
																																																																									cellpadding="0"
																																																																									border="0">
																																																																									<tbody>
																																																																										<tr
																																																																											valign="top">
																																																																											<td id="mTzPo7-frame"
																																																																												style="height: 100%;"
																																																																												align="left">
																																																																												<table
																																																																													id="mTzPo7-real"
																																																																													style="text-align:left"
																																																																													height="100%"
																																																																													cellspacing="0"
																																																																													cellpadding="0"
																																																																													border="0">
																																																																													<tbody>
																																																																														<tr
																																																																															valign="top">
																																																																														</tr>
																																																																													</tbody>
																																																																												</table>
																																																																											</td>
																																																																										</tr>
																																																																									</tbody>
																																																																								</table>
																																																																							</td>
																																																																							<td id="mTzPo7-chdex2"
																																																																								class="z-hbox-separator">
																																																																								<img
																																																																									style="height:0;width:0">
																																																																							</td>
																																																																							<td id="mTzPv7-chdex"
																																																																								style="min-width: 1px;">
																																																																								<table
																																																																									id="mTzPv7"
																																																																									class="z-hbox"
																																																																									style=""
																																																																									cellspacing="0"
																																																																									cellpadding="0"
																																																																									border="0">
																																																																									<tbody>
																																																																										<tr
																																																																											valign="top">
																																																																											<td id="mTzPv7-frame"
																																																																												style="height: 100%;"
																																																																												align="center">
																																																																												<table
																																																																													id="mTzPv7-real"
																																																																													style="text-align:left"
																																																																													height="100%"
																																																																													cellspacing="0"
																																																																													cellpadding="0"
																																																																													border="0">
																																																																													<tbody>
																																																																														<tr
																																																																															valign="top">
																																																																														</tr>
																																																																													</tbody>
																																																																												</table>
																																																																											</td>
																																																																										</tr>
																																																																									</tbody>
																																																																								</table>
																																																																							</td>
																																																																							<td id="mTzPw7-chdex"
																																																																								style="min-width: 1px;">
																																																																							</td>
																																																																						</tr>
																																																																					</tbody>
																																																																				</table>
																																																																			</td>
																																																																		</tr>
																																																																	</tbody>
																																																																</table>
																																																															</div>
																																																															<div id="mTzP08-chdex"
																																																																class="z-vlayout-inner"
																																																																style="min-width: 1px; width: 1398px;">
																																																																<table
																																																																	id="mTzP08"
																																																																	class="z-hbox"
																																																																	style="padding: 10px; height: 500px; width: 1398px;"
																																																																	cellspacing="0"
																																																																	cellpadding="0"
																																																																	border="0">
																																																																	<tbody>
																																																																		<tr
																																																																			valign="top">
																																																																			<td id="mTzP08-frame"
																																																																				style="height: 100%;"
																																																																				align="left">
																																																																				<table
																																																																					id="mTzP08-real"
																																																																					style="text-align:left"
																																																																					height="100%"
																																																																					cellspacing="0"
																																																																					cellpadding="0"
																																																																					border="0">
																																																																					<tbody>
																																																																						<tr
																																																																							valign="top">
																																																																							<td id="mTzP18-chdex"
																																																																								style="min-width: 1px; height: 582px; width: 1045px;">
																																																																								<canvas id="canvas" style="border: 1px solid rgb(227, 227, 227); width: 1045px; height: 580px; left: 0px; top: 0px; touch-action: none; user-select: none;"
																																																																								width="1045" height="580"></canvas>
																																																																							</td>
																																																																							<td id="mTzP18-chdex2"
																																																																								class="z-hbox-separator">
																																																																								<img
																																																																									style="height:0;width:0">
																																																																							</td>
																																																																							<td id="mTzP28-chdex"
																																																																								style="height: 582px; min-width: 1px;">
																																																																								<table
																																																																									id="mTzP28"
																																																																									style="padding-left: 30px; height: 582px;"
																																																																									class="z-vbox"
																																																																									cellspacing="0"
																																																																									cellpadding="0"
																																																																									border="0">
																																																																									<tbody>
																																																																										<tr
																																																																											valign="top">
																																																																											<td id="mTzP28-frame"
																																																																												style="width:100%"
																																																																												align="center">
																																																																												<table
																																																																													id="mTzP28-real"
																																																																													style="text-align:left"
																																																																													cellspacing="0"
																																																																													cellpadding="0"
																																																																													border="0">
																																																																													<tbody>
																																																																														<div id="rectangle">
																																																																															<front style="font-family: 'Segoe UI'; font-size: 16px;">
																																																																																Для перемещения поля используйте сочетание левой кнопки мыши и кнопки ALT
																																																																															</front> 
																																																																														</div>
																																																																														<tr id="mTzP38-chdex3" class="z-vbox-separator">
																																																																															<td><img style="height: 15px;;width:0">
																																																																															</td>
																																																																														</tr>
																																																																														<tr id="mTzP38-chdex"
																																																																															valign="top">
																																																																															<td align="center">
																																																																																<input  id="myImg" type="file" accept="image/*" class="input input__Img" multiple style="display: none;">
																																																																																<label for="myImg" class="click_to_load">
																																																																																	<span><img class="click_to_load_IMG" src="{{ asset('editor_assets/image.png') }}" alt="Выбрать файл"></span>
																																																																																	<span class="click_to_load_TEXT">Выберите изображение</span>
																																																																																</label>
																																																																																<button type="button" id="delite" class="additional_buttons"> <front style="font-family: 'Segoe UI'; font-size: 14px;">Удалить выбраное/выбраные фото </front></button>
																																																																															</td>
																																																																														</tr>
																																																																														<tr id="mTzP38-chdex2"
																																																																															class="z-vbox-separator">
																																																																															<td><img
																																																																																	style="height: 20px;;width:0">
																																																																															</td>
																																																																														</tr>
																																																																														<tr id="mTzP58-chdex"
																																																																															valign="top">
																																																																															<td align="center">
																																																																																<input id="myVideo" type="file" accept="video/*" class="input input__Vid" multiple style="display: none;">
																																																																																<label for="myVideo" class="click_to_load">
																																																																																	<span><img class="click_to_load_IMG" src="{{ asset('editor_assets/video.png') }}" alt="Выбрать файл"></span>
																																																																																	<span class="click_to_load_TEXT">Выберите видеозапись</span>
																																																																																</label>
																																																																																<button type="button" id="startVideoCycle" class="additional_buttons"><front style="font-family: 'Segoe UI'; font-size: 14px;">Запустить цикл</front>  </button>
																																																																																<button type="button" id="stopVideoCycle" class="additional_buttons"><front style="font-family: 'Segoe UI'; font-size: 14px;">Прервать цикл</front> </button>
																																																																																<button type="button" id="startVideo" class="additional_buttons"><front style="font-family: 'Segoe UI'; font-size: 14px;">Запустить видео</front>  </button>
																																																																																<button type="button" id="pauseVideo" class="additional_buttons"><front style="font-family: 'Segoe UI'; font-size: 14px;">Пауза</front>  </button>
																																																																																<button type="button" id="deliteVideo" class="additional_buttons"> <front style="font-family: 'Segoe UI'; font-size: 14px;">Удалить видеозапись</front> </button>
																																																																															</td>
																																																																														</tr>
																																																																														<tr id="mTzP58-chdex2"
																																																																															class="z-vbox-separator">
																																																																															<td><img
																																																																																	style="height: 20px;;width:0">
																																																																															</td>
																																																																														</tr>
																																																																														<tr id="mTzP68-chdex"
																																																																															valign="top">
																																																																															<td
																																																																																align="center">
																																																																																<input id="myAudio"type="file" accept="audio/*" class="input input__Aud" multiple style="display: none;">
																																																																																<label for="myAudio" class="click_to_load">
																																																																																	<span><img class="click_to_load_IMG" src="{{ asset('editor_assets/audio.png') }}" alt="Выбрать файл"></span>
																																																																																	<span class="click_to_load_TEXT">Выберите аудиозапись</span>
																																																																																</label>
																																																																																<button type="button" id="startAudioCycle" class="additional_buttons"> <front style="font-family: 'Segoe UI'; font-size: 14px;">Запустить цикл</front> </button>
																																																																																<button type="button" id="stopAudioCycle" class="additional_buttons"> <front style="font-family: 'Segoe UI'; font-size: 14px;">Прервать цикл</front> /button>
																																																																																<button type="button" id="startAudio" class="additional_buttons"> <front style="font-family: 'Segoe UI'; font-size: 14px;"> Запустить аудио</front> </button>
																																																																																<button type="button" id="pauseAudio" class="additional_buttons"><front style="font-family: 'Segoe UI'; font-size: 14px;">Пауза</front>  </button>
																																																																																<button type="button" id="deliteAudio" class="additional_buttons"><front style="font-family: 'Segoe UI'; font-size: 14px;">Удалить аудиозапись</front>  </button>
																																																																															</td>
																																																																														</tr>
																																																																														<tr id="mTzP68-chdex2"
																																																																															class="z-vbox-separator">
																																																																															<td><img
																																																																																	style="height:0;width:0">
																																																																															</td>
																																																																														</tr>

																																																																														<tr id="mTzP679-chdex"
																																																																															valign="top">
																																																																															<td
																																																																																align="center">
																																																																																<button style="height:68px;width:301px">
																																																																																	<input onclick="this.value='Отправлено'" type="button" value="Отправить на сервер" style="height:40px;width:280px; font-family: 'Segoe UI'; font-size: 20px;">
																																																																																</button>
																																																																															</td>
																																																																														</tr>
																																																																													</tbody>
																																																																												</table>
																																																																											</td> 
																																																																										</tr>
																																																																									</tbody>
																																																																								</table>
																																																																							</td>
																																																																						</tr>
																																																																					</tbody>
																																																																				</table>
																																																																			</td>
																																																																		</tr>
																																																																	</tbody>
																																																																</table>
																																																															</div>
																																																														</div>
																																																													</div>
																																																													<div id="mTzPd8-chdex"
																																																														class="z-vlayout-inner"
																																																														style="min-width: 1px;">
																																																													</div>
																																																												</div>
																																																											</div>
																																																										</div>
																																																									</div>
																																																								</div>
																																																							</div>
																																																						</div>
																																																					</div>
																																																				</div>
																																																			</div>
																																																		</td>
																																																	</tr>
																																																</tbody>
																																															</table>
																																														</td>
																																													</tr>
																																												</tbody>
																																											</table>
																																										</div>
																																									</div>
																																								</td>
																																							</tr>
																																						</tbody>
																																					</table>
																																				</td>
																																			</tr>
																																		</tbody>
																																	</table>
																																</td>
																															</tr>
																														</tbody>
																													</table>
																												</td>
																											</tr>
																										</tbody>
																									</table>
																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<Style>
		.click_to_load{
			display: flex;
			 flex-flow: row wrap;
		}

		.click_to_load_IMG{
			width: 40px;
			height: 30px;
			flex-grow: 0;
			flex-shrink: 0;
			background: #F0F0F0;
			border: 1px solid #616161;
		}

		.click_to_load_TEXT{
			min-width: 100px;
			height: 30px;
			background: #F0F0F0 ;
			width: calc(100% - 50px);
			font-family: "Segoe UI";
			display: flex;
			  align-items: center;
			justify-content: center;
			border: 1px solid #616161;
		}

		#rectangle{
			width:250px;
			height:68px;
			background:rgb(185, 185, 185);
			border: 1px solid #616161;
		}			

		.popup{
			position: fixed;
			width: 100%;
			height: 100%;
			background: rgb(33,36,51);
			background: linear-gradient(0deg, rgba(33,36,51,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(33,36,51,1) 100%);
			top: 0;
			left: 0;
		}

		.popup__body{
			min-height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.popup__close{
			min-height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.h2{
			font-size: xx-large;
		}

		

		.popup__content{
			position: fixed;
			width: 80%;
			height: 18%;
			align-items: center;
			justify-content: center;
			background-color: rgba(255, 255, 255, 0);
			text-align: center;
			vertical-align: middle;
			line-height: 90px;
			font-family: "Segoe UI";
		}




		.input__wrapper {
		width: 100%;
		position: relative;
		margin: 15px 0;
		text-align: center;
		}
		
		.input__file {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		}
		
		.input__file-icon-wrapper {
		height: 60px;
		width: 60px;
		margin-right: 15px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
		-webkit-box-pack: center;
			-ms-flex-pack: center;
				justify-content: center;
		border-right: 1px solid #616161;
		}
		
		.input__file-button-text {
		line-height: 1;
		margin-top: 1px;
		}
		
		.input__file-button {
		width: 100%;
		max-width: 290px;
		height: 60px;
		background: rgb(33,36,41);
		color: #ffffff;
		font-size: 1.125rem;
		font-weight: 700;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
			-ms-flex-align: center;
				align-items: center;
		-webkit-box-pack: start;
			-ms-flex-pack: start;
				justify-content: flex-start;
		border-radius: 3px;
		cursor: pointer;
		margin: 0 auto;
		}
	</Style>
	<div id = "popup" class="popup">
		<div class="popup__body">


			<div class="popup__content">
				<div class="popup_title">
					<h2>
						Загрузите свою картинку, на которую будет накладываться ваш контент при сканировании
					</h2>
				</div>
				<div class="popup__close">
					<div class="input__wrapper">
						<input onclick="document.getElementById('popup').style.display='none';" name="file" type="file" id="input__file" class="input input__file" multiple  accept="image/*" >
						<label for="input__file" class="input__file-button">
							<span class="input__file-icon-wrapper"><img class="input__file-icon" src="{{ asset('editor_assets/add.svg') }}" alt="Выбрать файл" width="25"></span>
							<span class="input__file-button-text">Выберите файл</span>
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<video id="video" width="1000" height="500" style="display: none;" ></video>
<video id="audio" width="500" height="500" style="display: none;"></video>
<im id="Audio" src="{{ asset('editor_assets/playAudio.png') }}" style="display: none;" >
<img id="Background" style="display: ngone;" >

<script src="{{ asset('editor_assets/jquery.min.js') }}"></script>	
<script src="{{ asset('editor_assets/fabric.min.js') }}"></script>
<script src="{{ asset('editor_assets/index.js') }}"></script>
{% endblock %}
